body {
  background: #eee;
  font-family: monospace;
  font-size: 20px;
}

#container {
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 20%;
  right: 10%;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}


/**
 * RECOMMENDED STYLES
 */

.colorpicker {
  color: #fff;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  width: 80%;
  user-select: none;
  overflow: hidden;

  &.active {
    cursor: none;
  }

  &.dark .pointer {
    border-color: #fff;
  }

  &.light .pointer {
    border-color: #000;
  }

  .pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: -5px;
    border-radius: 100%;
    border: 1px solid #000;
  }

  .background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .background:before,
  .background:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .background:after {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  }

  .background:before {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

}

.sample {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 50%;
  background: #bcb83e;
}

.slider {
  position: absolute;
  user-select: none;

  &.vertical {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    cursor: ns-resize;

    .track {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 6px;
      margin-left: -3px;
    }
  }

  &.horizontal {
    left: 0;
    right: 0;
    top: 50%;
    height: 10px;
    cursor: ew-resize;

    .track {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 6px;
      margin-top: -3px;
    }
  }

  .track {
    border-radius: 3px;
    background: #888;
  }

  .pointer {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background: #ddd;
    margin-left: -7px;
    margin-bottom: -7px;
    border-radius: 14px;
  }

}

.sat-slider {
  position: absolute;
  top: 0;
  left: 10%;
  height: 10%;
  width: 40%
}

.light-slider {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  width: 10%;
}

.hue-slider {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 85%;
  width: 10%;
  
  .track {
    background: linear-gradient(to bottom,
      #FF0000 0%,
      #FF0099 10%,
      #CD00FF 20%,
      #3200FF 30%,
      #0066FF 40%,
      #00FFFD 50%,
      #00FF66 60%,
      #35FF00 70%,
      #CDFF00 80%,
      #FF9900 90%,
      #FF0000 100%
    );
  }

}


.details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  width: 30%;

  ul {
    padding: 0;
    margin: 0 0 20px 0;

    li {
      list-style-type: none;
    }
  }

  label {
    color: #888;
  }

  .value {
    color: #ccc;
  }

  .hex {
    text-transform: uppercase;
  }

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.picker {
  position: relative;
  margin-bottom: 1em;
  @include clearfix;
}

.picker-right {
  height: 20em;
}

// .picker {
//   position: absolute;
//   top : 1em;
//   height: 300px;
//   left: 1em;
//   right: 1em;
// }
// .picker-left {
//   right: 50%;
// }
// .picker-right {
//   left: 50%;
// }

@media (min-width:50em) {
  .picker {
    width: 50%;
    float: left;
  }

}

.picker-preview {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 1em;
  right: 1em;
}

.swatch-item {
  width: 80px;
  height: 80px;
  margin: 5px;
  float: left;
  outline: 1px solid rgba(0,0,0,0.25);
  border: none;
  font-size: 12px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  position: relative;
}

.swatch-dark {
  color : #fff;
}
.swatch-light {
  color : #000;
}

.swatch-item:focus {
  outline: 1px solid rgba(0,0,0,0.75);
}

.swatch-item.swatch-selected {
  transform : scale(1.1);
  -webkit-transform : scale(1.1);
  outline: 2px solid rgba(0,0,0,0.75);
  z-index: 10;
}
