@import "../ColorPicker/index.scss";


body {
	margin: 0;
	padding: 20px;
	background: #fff;
	font-size: 20px;
}

.demo {
	&__picker {
		max-width: 280px;
	}

	&__colors {
		margin: 30px 0 0;
		.swatch-item {
			width: 50px;
			height: 50px;
			float: left;
			border: none;
			-webkit-transition: -webkit-transform 0.1s;
			transition: transform 0.1s;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			position: relative;
			outline: none;

			&:focus {
				-webkit-transform : scale(1.05);
				transform : scale(1.05);
				z-index: 5;
				border-radius: 3px;
			}

			&.swatch-selected {
				-webkit-transform : scale(1.1);
				transform : scale(1.1);
				box-shadow: 0 2px 3px rgba(0,0,0,0.3);
				border-radius: 3px;
				z-index: 10;
			}
		}
	}
}