@import "color-picker";

body {
  background: #eee;
  font-size: 20px;
}

#container {
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 20%;
  right: 10%;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.picker {
  position: relative;
  margin-bottom: 1em;
  @include clearfix;
}

.picker-right {
  height: 20em;
}

@media (min-width:50em) {
  .picker {
    width: 50%;
    float: left;
  }
}

.swatch-item {
  width: 50px;
  height: 50px;
  float: left;
  border: none;
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  outline: none;

  &:focus {
    -webkit-transform : scale(1.05);
    transform : scale(1.05);
    z-index: 5;
    border-radius: 3px;
  }

  &.swatch-selected {
    -webkit-transform : scale(1.1) !important;
    transform : scale(1.1) !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    z-index: 10 !important;
  }
}
